/* header and hero sec */

.text-orange{
    color: #ff961c;
}

.overlay{
    position: relative;
    z-index: 1;
}

.overlay::after{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-image{
    background-image: url('../images/about-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 214px;
}

.navbar-brand{
    margin-right: 121px !important;
    margin-top: 15px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
} 

header nav div button{
    background: transparent;
    border: transparent;
}

.gradient-border-mask {
    position: relative;
    padding-left: 13px;
    padding-right: 6px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50rem; 
    border: 1px solid transparent;
    background: linear-gradient(90deg, #fe852d, #f03d49) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

header .container nav div ul li{
    margin-right: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

header .container nav div ul li:last-child{
    margin-right: 28px;
}

.bg-image h1{
    margin-top: 121px;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* SEO Agency */

.SEO-AGENCY{
    background-color: #011a39;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 0, 52% 6%);
    padding-top: 102px;
    padding-bottom: 99px;
    margin-top: -65px;
}

.SEO-AGENCY .container h2{
    margin-bottom: 46px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.SEO-AGENCY .container p{
    margin-left: 55px;
    margin-right: 54px;
    margin-bottom: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.SEO-AGENCY .container button{
    background-color: transparent;
    border: #ffffff solid 2px;
    padding: 27px 35px 24px 43px;
}

/* Different */

.Different{
    background-color: #011a39;
    padding-top: 108px;
    padding-bottom: 120px;
    margin-top: -1px;
}

.Different .container>h2{
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.Different .container .card{
    background-color: #011a39;  
    height: 250px;
    border: #3b55c4 solid 1px; 
    border-radius: 25px !important;
}

.Different .container .card>img{
    width: 48px;
    height: 48px;
    margin-left: 18px; 
    margin-top: 28px;
}

.Different .container .card p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;    
}

.col{
    padding-left: 0 !important;
    padding-right: 9px !important;
}

/* Owners */

.Owners{
    background-color: #011a39;
    padding: 120px 0;
    margin-top: -1px;
}

.Owners .container h3{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.Owners .container p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 37px;
}

.item{
    width: 482px;
}

.item .box {
    background-repeat:no-repeat;
    height:504px;
    position:relative;
    overflow:hidden;
}

.item .cover {
    position:absolute;
    top:0;
    left:15px;
    width:482px;
    height:504px;
    background:linear-gradient(90deg,#fe8427 0%, #c53049 100%);
    transition:opacity 0.15s ease-in;
    opacity:0;
    padding-top:222px;
    padding-left: 176px;
    color:#fff;
    border-radius: 20px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}
  
.item:hover .cover {
    opacity:0.7;
}

.social {
    font-size:18px;
}
   
.social a {
    margin:0 10px;
    opacity:1;
    background-color: #ffffff;
    color: orangered;
    border-radius: 100%;
    padding: 23px 20px 22px 21px;
}
  
.social a:hover {
    opacity:1;
}

/* Customer Experiences */

.Customer_Experiences{
    background-color: #011a39;
    margin-top: -1px;
    padding-top: 120px;
    padding-bottom: 160px;
}

.Customer_Experiences .container>h3{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.Customer_Experiences .container .row .col-6 .card{
    margin-top: 79px;
    background-color: #011a39;
    border: #3b55c4 solid 1px;
    max-width: 538px;
}

.cus_img{
    margin-top: -48px;
}

.Customer_Experiences .container .row .col-6 .card p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.Customer_Experiences .container .row .col-12 .card{
    margin-top: 110px;
    background-color: #011a39;
    border: #3b55c4 solid 1px;
    border-radius: 20px;
}

.Customer_Experiences .container .row .col-12 .card h3{
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    font-weight: 600;
    margin-top: 72px;
    margin-bottom: 25px;
}

.Customer_Experiences .container .row .col-12 .card p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 61px;
}

.Customer_Experiences .container .row .col-12 .card button{
    background-color: transparent;
    border: #ffffff solid 2px;
    padding: 27px 35px 24px 43px;
}

.circular_border{
  padding: 3px;
  border-radius: 100%;
  background: linear-gradient(45deg,#fe8427 0%, #c53049 100%);
}

.card-img-overlay{
    top: -20px;
    padding: 0;
}

.cus_name{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.cus_info{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #b4c0cd;
}

.circle{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: #556dfa solid 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38.14px;
    color: #556dfa;
    font-style: italic;
    text-align: left;
    background: #ffffff;
    top: 28px;
    left: 255px;
    position: absolute;
  }

/* Footer */

footer{
    background-color: #011a39;
    clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
    color: #a6b3c1;
    margin-top: -60px;
    padding-top: 96px;
}

footer a{
    color: #a6b3c1;
}

footer .container .row div ul{
    list-style: none;
}


footer .container .row div ul li a i{
    background-color: #1a2d43;
    color: #bac8da;
    border-radius: 50%;    
}

/* Responsiveness */

@media (max-width:767.98px){
    header .container .navbar .navbar-brand{
        margin-right: 0 !important;
        margin-bottom: 10px;
    }
    .SEO-AGENCY{
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 0, 52% 4%);
        margin-top: -80px;
    }
    .SEO-AGENCY .container p{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 55px;
    }
    .Different .container .card{
        width: 190px;
        margin-bottom: 20px;
        height: 265px;
    }
    .Owners .container{
        padding-left: 0 !important;
    }
    .Owners .container .row{
        margin-bottom: 0 !important;
        display: block;
    }
    .Owners .container .row .col-6{
        max-width: 100%;
        padding-right: 3px !important;
    }
    .Owners .container h3{
        font-size: 40px;
        margin-left: 5px;
    }
    .Owners .container p{
        font-size: 16px;
        margin-left: 5px;
    }
    .item{
        width: 310px;
    }
    .item .box{
        height: 506px;
        width: 310px;
        background-position: center;
        margin-left: 5px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    .item .cover{
        left: 20px;
        width: 310px;
        height: 506px;
        border-radius: 10px;
        padding-left: 80px;
    }
    .Customer_Experiences .container .row{
        display: block;
    }
    .Customer_Experiences .container .row .col-6{
        max-width: 100%;
    }
    .Customer_Experiences .container .row .col-6 .card .circle{
        left: 133px;
    }
    footer{
        clip-path: polygon(50% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
    }
    footer .row{
        display: block;
    }
    footer .row .col-4{
        margin-bottom: 50px;
        max-width: 100%;
        text-align: center;
    }
    footer .row .col-2{
        margin-bottom: 50px;
        max-width: 100%;
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:1023.98px){
    header .container .navbar .navbar-brand{
        margin-right: 80px !important;
    }
    header .container nav div ul li{
        margin-right: 2px;
    }
    .SEO-AGENCY{
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 0, 52% 4%);
        margin-top: -70px;
    }
    .SEO-AGENCY .container p{
        margin-left: 160px;
        margin-right: 160px;
        margin-bottom: 55px;
    }
    .Different .container .card{
        width: 261px;
        margin-bottom: 20px;
    }
    .Owners .container .row{
        display: block;
    }
    .Owners .container .row .col-6{
        max-width: 100%;
    }
    .item .box{
        margin-bottom: 50px;
    }


    footer .container .row .col-4 img{
        width:250px
    }

}